:root {
    --font-main: 'Cormorant Garamond', serif;
    --font-secundary: 'Poppins', sans-serif;
    --color-font: #F2E7DC;
    --color-strong: #D92525;
}

.buttonAccess {
    position: absolute;
    padding: 0.4em;
    background-color: var(--color-strong);
    font-family: var(--font-secundary);
    color: var(--color-font);
    font-weight: bold;
    margin-left: 2em;
    animation-name: buttonAnimation;
    animation-duration: 5s;
    animation-delay: 34s;
    animation-fill-mode: linear;
    animation-iteration-count: infinite;
    opacity: 0;
    margin-left: 8em;
    margin-top: 2em;    
    border: none;
    border-bottom-left-radius: 1em;
    border-top-right-radius: 1em;
}

@keyframes buttonAnimation {
   to {
    opacity: 1;
   }
}

